<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="{{ page.cv }}"><a href="/research" title="Research"></a></li>
		<li class="{{ page.cv }}"><a href="/cv/resume_1.pdf" title="CV"></a></li>
	</ul>
	<ul class="nav nav-pills pull-left">
		<li class="{{ page.cv }}"><a href="/" style="text-decoration: none; color: #000000;">Kory Kroft</a></li>
		<li class="{{ page.cv }}"><a href="/research" title="Research" style="text-decoration: none; color: #000000;">Research</a></li>
		<li class="{{ page.cv }}"><a href="/cv/resume_1.pdf" title="CV" style="text-decoration: none; color: #000000;">CV</a></li>
	</ul>
</div> <!-- /header -->
