<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="{{ page.cv }}"><a href="/research" title="Research">Research</a></li>
		<li class="{{ page.cv }}"><a href="/cv/resume_1.pdf" title="CV">CV</a></li>
	</ul>
	<h3 class="text-muted"><a href="/">Kory Kroft</a></h3>
	<!--
	<ul class="nav nav-pills pull-left">
		<li class="{{ page.cv }"><h5><a href="/research" title="Research">Research</a></h5></li>
		<li class="{{ page.cv }"><h5><a href="/cv/resume_1.pdf" title="CV">CV</a></h5></li>
	</ul>
	-->
</div> <!-- /header -->
