<div class="header">
	<ul class="nav nav-pills pull-right">
		<li class="{{ page.cv }}"><a href="/research" title="Research"></a></li>
		<li class="{{ page.cv }}"><a href="/cv/resume_1.pdf" title="CV"></a></li>
	</ul>
	<h3 class="text-muted" style="color:black; display:inline; opacity:0.0"><a href="/">Kory Kroft</a></h3>
	<ul class="nav nav-pills pull-left">
		<li class="{{ page.cv }}"><a href="/" style="paddingBottom: 5px;text-decoration: none; color: #000000; text-transform:capitalize; font-size: 1.3em">Kory Kroft</a></li>
		<li class="{{ page.cv }}"><a href="/research" title="Research" style="text-decoration: none; color: #000000; text-transform:capitalize">Research</a></li>
		<li class="{{ page.cv }}"><a href="/cv/resume_1.pdf" title="CV" style="text-decoration: none; color: #000000;">CV</a></li>
	</ul>
</div> <!-- /header -->
